<!DOCTYPE html>

<html lang="fr"> 

<head>

    <meta charset="utf-8" />                                                

  <title>Provisoire</title>  

    <link href="{{ url_for('static', filename='lecss.css') }}" rel="stylesheet" type="text/css" />
    
</head>
<body> 
    
    <form action="http://127.0.0.1:5000/jeu-duo?" method="get">


  <h1>Le jeu du morpion</h1>
  <div id="Jeu">
    <div>
      <button name="bouton" value="1"> {{ un }}</button>
      <button name="bouton" value="2"> {{ deux }}</button>
      <button name="bouton" value="3"> {{ trois }}</button>
    </div>
    <div> 
      <button name="bouton" value="4"> {{ quatre }} </button> 
      <button name="bouton" value="5"> {{ cinq }} </button>
      <button name="bouton" value="6"> {{ six }}</button>
    </div>
    <div>
      <button name="bouton" value="7"> {{ sept }}</button>
      <button name="bouton" value="8"> {{ huit }}</button>
      <button name="bouton" value="9"> {{ neuf }}</button>
    </div>
    </div> 
    
    <p class = "Message">{{ text }}</p> 
    
    </form> 
    <a href="http://127.0.0.1:5000/" class = "lien"> Nouvelle partie </a>
</body>
</html>