html{
  background: radial-gradient(#A9A5FF, #AFFFF8);
  height:1080px;
}


#Jeu div {
  overflow: hidden;
  justify-content: center;
  margin: auto;
  float:center;
  text-align: center;
}

#Jeu button {
  width: 100px;
  box-shadow:none;
  border:0 none;
  outline:0;
  height: 100px;
  margin: 5px;
  font-size: 60px;
  font-family: Arial Black;
  vertical-align: middle;
  background:#DFDCFF;
}

h1{
  text-align: center;
  border-width:10px;
  border-style:double;
  border-color:#B08BC8; 
}

h4{
  color : darkblue;
  text-decoration: underline;
}

.input {
  text-align: center;
}

input{
  background:#DFDCFF;
  color:blue;
  padding-right: 50px;
  box-shadow:none;
  border:0 none;
  outline:0;
}

#Jeu a{
  color : black;    
}

.Message{                              
  text-align: center ;
}

.lien{
  text-decoration: none;
}