<!DOCTYPE html>

<html lang="fr"> 

<head>

    <meta charset="utf-8" />                                                

  <title>Provisoire</title>  

    <link href="{{ url_for('static', filename='css-fin.css') }}" rel="stylesheet" type="text/css" />
    
</head>
<body> 
    
    <form action="http://127.0.0.1:5000/jeu-duo?" method="get">

  <h1>Le jeu du morpion</h1>
  <div id="Bloc">
  <div id="Jeu">
    <div>
      <button name="bouton" value="1"> {{ un }}</button>
      <button name="bouton" value="2"> {{ deux }}</button>
      <button name="bouton" value="3"> {{ trois }}</button>
    </div>
    <div> 
      <button name="bouton" value="4"> {{ quatre }} </button> 
      <button name="bouton" value="5"> {{ cinq }} </button>
      <button name="bouton" value="6"> {{ six }}</button>
    </div>
    <div>
      <button name="bouton" value="7"> {{ sept }}</button>
      <button name="bouton" value="8"> {{ huit }}</button>
      <button name="bouton" value="9"> {{ neuf }}</button>
    </div>
    </div> 
    <div id="Stats"> 
        <p>Statistique des joueurs : <br></p>
        <div class="joueurs"> 
          <p> Pour le joueur <B>{{Jcroix}}</B> qui avait les croix nous avons {{JcroixV}} victoires pour {{JcroixD}} défaite pour {{JcroixP}} parties jouées. Donc {{JcroixE}} égalitées.</p>
          <p> Pour le joueur <B>{{Jrond}}</B> qui avait les ronds nous avons {{JrondV}} victoires pour {{JrondD}} défaite pour {{JrondP}} parties jouées. Donc {{JrondE}} égalitées.</p>
        </div>
    </div>
    </div>
    <p class = "Message"> <underline>{{ text }}</underline></p>
    
    </form> 
    <a href="http://127.0.0.1:5000/" class = "lien"> Nouvelle partie </a>
</body>
</html>